<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#home"><img src="../../assets/logo.png" alt="logo" height="50" width="100"></a>
            </li>
            <li><a href="#home">FOOD</a></li>
            <li><a href="#news">DRINKS</a></li>
            <li><a href="#contact">Snacks</a></li>
            <li style="float:right; margin-right: 15px;"><a href="#about"><i class="ri-user-line"></i></a></li>
            <li style="float:right"><a id="findStore" href="#about">Find a Store</a></li>
            <li style="float:right; margin-top: 8px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    width="32" height="32">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zm4.95-7.778a7 7 0 1 0-9.9 0L12 20.9l4.95-4.95zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
                </svg></li>
            <li><a href="#about">Order NOW<strong style="color: red;">!</strong></a></li>
        </ul>
    </nav>
    <section id="sec1" style="display: flex; flex-direction: row;">
        <div id="firstDiv">
            <img src="../../assets/brnfrz.png" alt="brain freeze" width="150" height="100">
            <h1>Feel Hot. Stay Cool.</h1>
            <p id="text">Electrify your summer with exciting new prizes dropping every Friday, featuring
                once-in-a-lifetime
                musical experiences
                and custom-made fashion pieces. Scan your app when you buy the featured product of the week for a
                chance
                to win** an
                exciting prize. Earn double entries when you buy the featured participating product of the week.</p>
            <button class="btn btn-success">Get The Deets</button>
        </div>
        <div id="secondDiv"><img src="../../assets/redbull.jpg" alt="backkground-pic">
        </div>
    </section>
    <section id="sec2">
        <div id="foodTypes"><i id="icon" style="color: #fff;" class="fa-solid fa-burger fa-4x"></i>
            <p id="typeName">Hot Foods</p>
        </div>
        <div id="foodTypes"><i id="icon" style="color: #fff;" class="fa-solid fa-cookie-bite fa-4x"></i>
            <p id="typeName">Snack Food</p>
        </div>
        <div id="foodTypes"><i id="icon" style="color: #fff;" class="fa-solid fa-mug-hot fa-4x"></i>
            <p id="typeName">Coffee</p>
        </div>
        <div id="foodTypes"><i id="icon" style="color: #fff;" class="fa-solid fa-ice-cream fa-4x"></i>
            <p id="typeName">Ice Cream</p>
        </div>
    </section>
</body>

</html>