<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

        <nav class="navigation">
            <a style="margin-left: -25px;" href="#"><img id="logo" src="../../assets/logo.png" alt="logo"></a>
            <a href="#home">FOOD</a>
            <a href="#news">DRINKS</a>
            <a href="#contact">Snacks</a>
            <a href="#about">Order NOW<strong style="color: red;">!</strong></a>
            <a id="rightItem" href="logo"><svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    width="32" height="32">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zm4.95-7.778a7 7 0 1 0-9.9 0L12 20.9l4.95-4.95zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
                </svg>
            </a>
            <a id="findStore" href="#about">Find a Store</a>

            <a id="user" href="#logo"><i class="ri-user-line"></i></a>
        </nav>

    </header>
    <section id="sec1">
        <div id="firstDiv">
            <img id="brnfrz" src="../../assets/brnfrz.png" alt="brain freeze">
            <h1>Feel Hot. Stay Cool.</h1>
            <p id="text">Electrify your summer with exciting new prizes dropping every Friday, featuring
                once-in-a-lifetime
                musical experiences
                and custom-made fashion pieces. Scan your app when you buy the featured product of the week for a
                chance
                to win** an
                exciting prize. Earn double entries when you buy the featured participating product of the week.</p>
            <button class="btn btn-success">Get The Deets</button>
        </div>
        <div id="secondDiv"><img src="../../assets/rbull.PNG" alt="backkground-pic">
        </div>
    </section>
    <section id="sec2">
        <div (click)="viewSubCategories('hotfood')" id="foodTypes"><i id="icon" style="color: #fff;"
                class="fa-solid fa-burger fa-4x"></i>
            <p id="typeName">Hot Foods</p>
        </div>
        <div (click)="viewSubCategories('snackfood')" id="foodTypes"><i id="icon" style="color: #fff;"
                class="fa-solid fa-cookie-bite fa-4x"></i>
            <p id="typeName">Snack Food</p>
        </div>
        <div (click)="viewSubCategories('coffee')" id="foodTypes"><i id="icon" style="color: #fff;"
                class="fa-solid fa-mug-hot fa-4x"></i>
            <p id="typeName">Coffee</p>
        </div>
        <div (click)="viewSubCategories('icecream')" id="foodTypes"><i id="icon" style="color: #fff;"
                class="fa-solid fa-ice-cream fa-4x"></i>
            <p id="typeName">Ice Cream</p>
        </div>
    </section>

    <section *ngIf="isHotFood" id="sec3">
        <div #hotfood id="cardContainer" *ngFor="let hotfood of hotFoods">
            <div class="card">
                <img src="{{ hotfood.url }}" alt="Avatar" width="100%" height="250">
                <div class="container">
                    <h4><b>{{ hotfood.title }}</b></h4>
                    <p>{{ hotfood.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="isSnackFood" id="sec3">
        <div #hotfood id="cardContainer" *ngFor="let snackfood of snackFoods">
            <div class="card">
                <img src="{{ snackfood.url }}" alt="Avatar" width="100%" height="250">
                <div class="container">
                    <h4><b>{{ snackfood.title }}</b></h4>
                    <p>{{ snackfood.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="isCoffee" id="sec3">
        <div #coffe id="cardContainer" *ngFor="let coffee of Coffee">
            <div style="background-color: #f0cb99;" class="card">
                <img src="{{ coffee.url }}" alt="Avatar" width="100%" height="250">
                <div class="container">
                    <h4><b>{{ coffee.title }}</b></h4>
                    <p>{{ coffee.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="isIceCream" id="sec3">
        <div #hotfood id="cardContainer" *ngFor="let icecream of iceCreams">
            <div class="card">
                <img src="{{ icecream.url }}" alt="Avatar" width="100%" height="250">
                <div class="container">
                    <h4><b>{{ icecream.title }}</b></h4>
                    <p>{{ icecream.description }}</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>