<div class="main">
    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
        <h2>Edit {{ username }}</h2>
        <div class="container">
            <div class="form_group">
                <label>Password:</label>
                <input type="password" class="form-control" formControlName="password" />
            </div>
            <div class="form_group">
                <label>Level:</label>
                <input type="text" class="form-control" formControlName="level" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>