.main{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.container{
    width: 70vw;
}
.card{
    width: 30vw;
    height: 300px;
}
#users{
    padding: 2rem;
    width: 50vw;
}
#image{
    height: 100%;
    width: auto;
}
.form_group{
    margin-bottom: 1rem;
}
#allUsers{
    margin-top: .5rem;
}