.main{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

#users{
    padding: 2rem;
    width: 50vw;
}
#image{
    height: 100%;
    width: auto;
}
.form_group{
    margin-bottom: 1rem;
}
#allUsers{
    margin-top: .5rem;
}
#sec3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}
#cardContainer{
    margin-top: 1rem;
}
.card{
    width: 30vw;
    height: 100%;
    margin-left: 1rem;
}
.container{
    padding-bottom: 1rem;
}